<?xml version="1.0" encoding="utf-8" ?>
<!-- 設定internalLogFile可以得知NLog的內部錯誤，在初始設定時很有幫助 -->
<!-- 設定throwExceptions寫入錯誤時程式拋出例外 -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
	  throwExceptions="false"
      internalLogLevel="Info"
      internalLogFile="${CurrentDir}/Logs/internal-nlog.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	
	<!--[變數] 文字樣板 -->
	<variable name="infoLayout" value="【${longdate}】【${message}】"/>
	<variable name="errorLayout" value="【${longdate}】【${message}】【${exception}】"/>
	
	<variable name="infoPath" value="${CurrentDir}/Logs/${shortdate}.txt"/>
	<variable name="errorPath" value="${CurrentDir}/Logs/${shortdate}.txt"/>
	
	<targets>
		<target name="info"
				xsi:type="File"
				fileName="${infoPath}"
				layout="${infoLayout}"/>

		<target name="error"
				xsi:type="File"
				fileName="${errorPath}"
				layout="${errorLayout}"/>

		<target name="fatal"
				xsi:type="File"
				fileName="${errorPath}"
				layout="${errorLayout}"/>
	</targets>

	<rules>
		<logger name="Microsoft.*" minlevel="Trace"  final="true"/>
		<logger name="info" levels="Trace,Debug,Info" writeTo="info"/>
		<logger name="*" levels="Warn,Error" writeTo="error"/>
		<logger name="*" level="Fatal" writeTo="fatal"/>
	</rules>
</nlog>